:root {
  --color1: #9356dc;
  --color2: #ff79da;
  --color3: #99e2d0;
}
body {
  margin: 0 auto;
}
header {
  box-shadow: 0 5px 5px grey;
  height: 75px;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 2;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.58);
}
footer {
  background-color: #535353;
  color: white;
}
footer ul {
  list-style: none;
}
.location {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  background-color: #eaeaea;
  height: 45px;
  display: flex;
  justify-content: center;
}
.location p {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}
.dot {
  margin-right: 5px;
}
.intro {
  text-align: center;
  padding: 30px 20px 30px 20px;
  background-color: #f6f6f6;
}
.intro h2 {
  margin: 0;
}
.ExploreButton {
  width: 200px;
  height: 35px;
  background: linear-gradient(160deg, var(--color2), var(--color1));
  color: white;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px lightgray;
}
