:root {
  --color1: #9356dc;
  --color2: #ff79da;
  --color3: #99e2d0;
  --grey-bkgr: #f6f6f6;
  font-family: "Roboto", sans-serif;
}
html {
  background-color: #8c8c8c;
}
body {
  margin: 0 auto;
  max-width: 768px;
  background-color: white;
}

header {
  box-shadow: 0 5px 4px lightgray;
  height: 75px;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
h2 {
  font-weight: 700;
}
.logo {
  transform: scale(0.43);
  position: relative;
  top: 8px;
}

.location {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  background-color: #eaeaea;
  height: 45px;
  display: flex;
  justify-content: center;
}
.location p {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}
.dot {
  margin-right: 5px;
}
.intro {
  text-align: center;
  padding: 50px 20px 50px 20px;
  background-color: var(--grey-bkgr);
  font-weight: 300;
}
.intro h2 {
  margin: 0;
}
.ExploreButton {
  width: 200px;
  height: 45px;
  background: linear-gradient(160deg, var(--color2), var(--color1));
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 4px lightgray;
  font-weight: bold;
  font-size: 14px;
}
.Function {
  padding: 40px 20px 40px 20px;
}
.step {
  background-color: var(--grey-bkgr);
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 10px;
  height: 45px;

  align-items: center;
  box-shadow: 0 4px 4px lightgray;
  border-radius: 20px;
}
.StepOrder {
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  position: relative;
  right: 22px;
  color: white;
  font-size: smaller;
}
.StepLogo {
  margin-right: 25px;
  color: grey;
}
.step p {
  font-weight: 500;
}
.StepLogo3 {
  margin-right: 25px;
  color: var(--color1);
}
.third-bkgr {
  background-color: #f5edff;
}
.restaurant {
  background-color: var(--grey-bkgr);
  padding: 40px 20px 40px 20px;
}
.RestaurantCard {
  position: relative;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  margin: 15px 0 15px 0;
  box-shadow: 0 4px 4px lightgray;
}
.RestaurantPic {
  object-fit: cover;
  height: 75%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.RestaurantCardText {
  padding: 13px;
}
h3 {
  margin: 0 0 5px 0;
}
.RestaurantCard p {
  margin: 0;
}
.RestaurantFav {
  position: absolute;
  right: 30px;
  bottom: 30px;
  transform: scale(1.8);
}
.RestaurantCardNew {
  display: block;
  background-color: var(--color3);
  padding: 8px;
  color: grey;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: smaller;
  font-weight: bolder;
}
footer {
  background-color: #535353;
  color: white;
  padding: 20px;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 8px;
}
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10px;
}
.LiLogo {
  margin-right: 10px;
}
.Logo2 {
  transform: scaleX(0.7);
  margin-right: 4px;
}
/* animations */
header,
main,
footer {
  animation: opacity 2500ms cubic-bezier(1, -0.25, 0.93, 0.59) 1;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#loader {
  border-top: 15px solid var(--color1);
  border-bottom: 15px solid var(--color2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1500ms linear 1;
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(90deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.95;
  }
  75% {
    transform: rotate(270deg);
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
